*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

a {
  text-decoration: none !important;
}

mark {
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  display: inline-block;
  background-color: transparent;
  transition: all .3s linear;
  cursor: pointer;
}

@font-face {
  font-family: 'Poppins-Light';
  src:url('../src/assets/styles/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src:url('../src/assets/styles/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src:url('../src/assets/styles/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src:url('../src/assets/styles/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src:url('../src/assets/styles/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

body {
  font-size: 1rem;
  line-height: 1rem;
  font-family: "Poppins-Regular", sans-serif;
  color: #8E95A9;
  min-height: 100vh;
  background-color: #121829;
  background-image: url("images/Background.png");
  background-size: cover;
  background-position: center top;
  min-width: 640px;
}

